<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UFC-8">
    <meta http-equiv="X-UA-Compatible" content = "IE=edge">
    <meta name="viewport" content="width-device-width", initial-scale="1.0">
    <title>Home Page by Golang</title>
    <link rel="stylesheet" type ="text/css" href="/assets/css/main.css">
</head>
<body>
    <header><img src="/assets/image/logo.png"></header>
    <b>First-Webservie-Css-Golang </b>
<nav>
    <ul>
        <li><a href="/">Playlist</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/about">About Us</a></li>
    </ul>
</nav>
<section>
    <h1>List of playlist</h1>
    <ol>
        <li>Android Programming with Jave</li>
        <li>Android Programming with Kotlin</li>
        <li>Golang Programming</li>
        <li>Java Programming</li>
        <li>JavaScript ES6 Programming</li>
        <li>Android Programming with Java</li>
        <li>Node JS Programming</li>
        <li>Mongodb Handling</li>
    </ol>
</section>
</body>
</html>